---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import Hr from "@/components/Hr.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { SITE } from "@/config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout>
  <Header />
  <main id="main-content" data-layout="index">
    <section id="hero" class="flex-column justify-between py-6 pt-8 sm:flex">
      <!-- greeting -->
      <div>
        <p class="inline-block text-4xl font-bold sm:my-8 sm:text-5xl">Hi,</p>
        <p class="mt-2">It’s Iris.</p>
        <p class="mt-2 text-base/6.5">
          <span class="bg-[#80FFEA] text-[#1f1f1f]">Cyanze</span> —— 靈感源自 2000°C
          的青色火焰。
          <br />
          這裡紀錄開發、閱讀與生活，捕捉當下的思考與感受。
        </p>
      </div>
      <!-- flame -->
      <div class="mt-6 mr-20 text-center sm:mr-0">
        <pre
          style="font-family: monospace; line-height: 1.15">
          <span style="color:#80FFEA">       .  </span>
          <span style="color:#38bdf8">      *  </span>
          <span style="color:#38bdf8">    :.     </span>
          <span style="color:#38bdf8">    :*.    </span>
          <span style="color:#22d3ee">    =**    </span>
          <span style="color:#22d3ee">   =***..  </span>
          <span style="color:#67e8f9"> :**°**:.= </span>
          <span style="color:#7dd3fc">:*°w-***++*:</span>
          <span style="color:#a5f3fc">=*°- +*****=</span>
          <span style="color:#bae6fd">-°:  .=***-</span>
          <span style="color:#e0f2fe"> =*.   =*+ </span>
          <span style="color:#f8fafc">  .-.   </span>
        </pre>
      </div>
    </section>
    <Hr />

    {
      recentPosts.length > 0 && (
        <section id="recent-posts" class="pt-12 pb-6">
          {" "}
          <h2 class="mb-6 text-xl font-bold tracking-wide">近期</h2>
          <ul>
            {recentPosts.map(
              (data, index) =>
                index < SITE.postPerIndex && <Card variant="h3" {...data} />
            )}
          </ul>
        </section>
      )
    }

    <div class="my-8 text-center">
      <LinkButton href="/posts/">
        所有文章
        <IconArrowRight class="inline-block rtl:-rotate-180" />
      </LinkButton>
    </div>
  </main>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
